body{
    font-family:"Tinos",sans-serif;
}
.img-responsive{
    max-width:100%
}
.hero_image{
    background:url(heroimage.jpg) no-repeat;
    -webkit-background-size:cover;
    background-size:cover;
    height:100%;
    position:relative;

}
.hero_wrapper {
    color:white;
    position:absolute;
    top: 50%;
    left:50%
    transform:translate(-50%,-50%);
}
.hero_wrapper h1{
 font-size:2.4rem;
 text-align:center;
}
.hero_wrapper span{
    margin-left:5rem;
    display:inline-block;
    margin-bottom: .5rem;
}
.form_code{
    text-align:center;
}
.form_code .post_code{
 display:block;
 width: 80%;
 margin-left:auto;
 margin-right:auto;
 border-radius: 2rem;
 padding: .6rem;
 border:none;
 outline:none;
}
.form_code_button{
    width: 40%;
    text-align:center;
    background-color:#00bab1;
    color:white;
    padding: .6rem
    margin:1rem auto 0rem;
    border:none;
    border-radius: .3rem;
}

.product{
    width: 90%;
    margin-top: .3rem;
    margin-left:auto;
    margin-right:auto;
}
.product_list_item{
    float:left;
    width: 32%;
    margin-left: .5rem;
}

.product_list_item:first-of-type{
    margin:left: 0;
}
@media screen and (max-width:700ox){
    .product_list_item{
        width: 100%;
        float:none;
    }
}